.portfolioheader {
    margin-top: 5rem;
    color: white;


    h1 {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 62px;
        line-height: 75px;
        letter-spacing: -0.04em;
        margin-bottom: 2rem;

    }
}